fastapi
uvicorn[standard]
aiohttp
docx
fitz
groq
jupyter-client
langchain
langchain-chroma
langchain-huggingface
nbclient
nbformat
pandas
pydantic
python-docx
requests
websocket-client
httpx
PyMuPDF
python-pptx
